<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.CSS">
    <title>Desafio 3</title>
</head>
<body>
    
    <button>Soy el Button 1</button>
    <button>Soy el Button 2</button>
    <button>Soy el Button 3</button>
    <button>Soy el Button 4</button>
    <button>Soy el Button 5</button>
    <button>Soy el Button 6</button>
    <button>Soy el Button 7</button>
    <button>Soy el Button 8</button>
    <button>Soy el Button 9</button>
    <button id="eliminar">Elimínalo!!!!!!!</button>

</body>
</html>