<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1> A simple blog built winth
            Astro and Tailwind CSS
        </h1>
        <nav>
            HTML   TAILWIND    FRAMEWORKS    DEVELOPMENT    ANIMATION   SVG   CDN    ARIA
        </nav>
    </header>
    <main>
        <section>
            <article>
                <img src="/assets/images/Captus.jpeg">
                <h2>Henry Thompson. sat jan 06</h2>
                <h1>Helping your website get googly-eyed</h1>
                <h3>make Google do a double-take width Tailwind CSS,s
                    magic. it's like giving your website
                </h3>
                <h2>animation CDN</h2>
            </article>
            <section>
                <section>
                <article>
                    <img src="/assets/images/pastel.jpeg" >
                    <h2>Isabelle Garcia. fri jan 05</h2>
                    <h1>Because width vanilla JS is so
                        last season 
                    </h1>
                    <h3>Tired of vanilla JS? Spice up your coding life
                        width astro. it's the haute coutere of
                    </h3>
                    <h2>CDN- ARIA</h2>
                </article>
            </section>
            <section>
                <article>
                    <img src="/assets/images/cuaderno.jpeg" >
                    <h2>Akira Nakamura. Thu Jan 04</h2>
                    <h1>Tailwind CSS and Astro.Js
                        dynamic duo of web DEVELOPMENT
                    </h1>
                    <h3>Join force with the dynamic duo of web 
                        development - Tailwind CSS and astro.js
                    </h3>
                    <h2>animation SVG</h2>
                </article>
            </section>
            <section>
                <article>
                    <img src="/assets/images/cama.jpeg" >
                    <h2>Gionavani Russo. Wed Jan 03</h2>
                    <h1>Making Static Site Less Static,
                        More fantastic 
                    </h1>
                    <h3>Say goodbye to Static boredom with astro.js
                        this framework brings life to static sties
                    </h3>
                    <h2>development Tailwind</h2>
                </article>
            </section>
            <section>
                <article>
                    <img src="/assets/images/espiga.jpg" >
                    <h2>Charllote Parker. Tue Jan 20</h2>
                    <h1>Where utility-first meets
                        faschion-first
                    </h1>
                    <h3>Tired of vanilla JS? Spice up your coding life
                        width astro. it's the haute coutere of
                    </h3>
                    <h2>CDN- ARIA</h2>
                </article>
            </section>
            <section>
                <article>
                    <img src="/assets/images/Jarron.webp" >
                    <h2>Alejandro Martinez. Mon Jan 01</h2>
                    <h1>Because the universe needed a framework 
                    </h1>
                    <h3>Embark on a cosmic journey with astro.js, the 
                        framework that makes interstallar...
                    </h3>
                    <h2>HTML Tailwind
                    </h2>
                </article>
            </section>
    </main>
    <footer>
        <h1> Join us to get our 
            news in your inbox 
        n</h1>
    </footer>
</body>
</html> 8